<div class="header">
  <div class="header-logo">
  header
  </div>
  
  <div class="room">
    <%= link_to "ルーム作成", new_room_path, class:"room-btn" %>
    <%= link_to "VIPルーム作成", root_path, class:"vip-room-btn" %>
  </div>

  <div class="sign">
    <%= link_to "Sign up", root_path, class:"sign-up-btn" %>
    <%= link_to "Sign in", root_path, class:"sign-in-btn" %>
  </div>

</div>
