<div class="chat">

  <div class="form">
    <div class="form-left">
      <input class="form-name" placeholder="type a name">
      <input class="form-message" placeholder="type a message">
    </div>
    <div class="form-right">
      <input class="form-image"  type="file" value="画像">
      <input class="form-submit" type="submit" value="投稿">
    </div>
  </div>

chat

  <div class="chat-name">
  name
  </div>

  <div class="image">
  image
  </div>

</div>
