<header>
  <%= render "shared/header" %>
</header>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  index
</div>

<footer>
  <%= render "shared/footer" %>
</footer>