<header>
  <%= render "shared/header" %>
</header>

<div class="wrapper">
  <div class="side_bar">
    <%= render "shared/side_bar" %>
  </div>

  <div class="form-room">
    <input class="form-room-name" placeholder="type a room name">
  </div>
  <input class="form-room-btn" type="submit" value="作成">

</div>

<div class="footer">
  <%= render "shared/footer" %>
</div>