.chat-header {
  height: 50px;
  width: 100vw;
  font-size: 30px;
  padding-left: 20px;
  background-color: rgb(158, 209, 226);
}

.chat-room {
  display: flex;
}

.chat-form {
  height: 70px;
  margin: 20px 0 0 20px;
}

.form {
  margin-bottom: 20px;
}


.chat-upper {
  display: flex;
}

.form-submit {
  height: 40px;
  width: 50px;
}

.back-btn {
  color: black;
  text-decoration: none;
}
